html {
    font-family: sans-serif;
}

.app {
    border:1px solid grey;
    border-radius: .25rem;
    max-width:1300px;
    padding:.5rem;
    margin: auto;
    text-align: center;
}

select {
     display: inline-block;
}

.highScore-game {
    padding:.5rem;
    background-color: aliceblue;
    border-radius:.25rem;
    border:slateblue 1px solid;
    width: auto;
}

li {
    list-style: none;
    width: 25%;
    display: inline-table;
}

.create-game {
    text-align: center;
}

.label {
    margin: 5px 0;
}

.label label {
    padding-right: 10px;
    text-align: right;
    display:inline-block;
}